.flag-img {
    height: 280px;
    background: hsl(208, 20%, 41%);
}

.color {
    background: hsl(208, 20%, 41%);
    width: 300px;
    height: 22px;
}

.name.color {
    width: 311px;
    height: 32px;
}

.native-name.color {
    width: 311px;
}
.card-info{
    display: flex;
    align-items: center;
}

